.float-container {
    border: 3px solid #fff;
    padding: 10px;
}
.square {
  height: 50px;
  width: 50px;
  float: left;
  margin: 2px;
  text-align: center;
  color: white;
  line-height: 50px;
vertical-align: middle;
  background-color: #339999;
}
.emptysquare {
  height: 50px;
  width: 50px;
  float: left;
  margin: 2px;
  text-align: center;
  color: white;
  line-height: 50px;
vertical-align: middle;
  background-color: white;
}
.grid-container {
    display: inline-block;
}

.title {
	  justify-content: center;
	  align-items: center;
	  text-align: center;
}
.game {
	width : 240px;
	margin: auto;
}
